@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  @apply hidden;
}
.nav-input::placeholder {
  color: var(--placeholderColor) !important;
}
@keyframes slideFromTop {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(120px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-svg-top {
  animation: slideFromTop 1s ease-out forwards;
}

.animate-image-bottom {
  animation: slideFromBottom 1s ease-out forwards;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.3s ease-out forwards;
}
